$primary: #5265E1;
$secondary: #FA5959;
$box-shadow: 0 .5rem 1rem rgba($primary, .15);
$accordion-icon-color: $primary;
$accordion-button-active-color: $secondary;
$accordion-icon-width: 1.75rem;


* {
  margin: 0;
  padding: 0;
}


// ------------------------------------
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Rubik', serif;
}
.navbar {
    letter-spacing: 2px;
}

.navbar-brand > img {
  width: 11rem;
}

.navbar-toggler {
  img {
    width: 1.5rem;
  }
}

.navbar-link {
  color: gray;
  &:hover {
    color: $secondary;
  }
}

.login {
  background-color: $secondary;
  color: white;

  &:hover {
    background-color: white;
    border: solid $secondary 1px;
    color: $secondary;
  }
}

.btn-chrome {
  background-color: $primary;
  color: white;
  &:hover {
    background-color: white;
    color: $primary;
    border: solid 1px $primary;
  }
}



.btn-firefox {
  background-color: $light;
  color: $gray-600;
  &:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
  }
}


.image-bloque {
  width: 90%;
}


.bloque-derecha {
    height: 65%;
    width: 80%;
    border-radius: 17rem 0 0 17rem;
    margin-top: -23rem;
    margin-left: 10rem;
    margin-right: 0;
    float: right;
    position: relative;
    z-index: -1;
  }

.bloque-izquierda {
  height: 25rem;
  width: 75%;
  border-radius: 0 17rem 17rem 0;
  margin-top: -20rem;
  margin-left: 0;
  float: left;
  position: relative;
  z-index: -1;
}

.presentation {
  h1 {
    font-weight: 800;
  }

  padding: 10%;

}

.tab-content {
  img {
    width: 80%;
    margin-left: 10%;
    margin-top: 3em;
  }

  .features-text {
    margin: 5em 0;
    position: relative;
  }
}

.nav-tabs {
  padding-right: 0;

  li {
    padding: 1em 2.5em;
    border-bottom:  0.1em solid rgb(155, 155, 155); 
  }

  a {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    text-decoration: none;
    color: gray;
    font-size: 1.3rem;
    &:hover {
      color: $secondary;
    }

  }
  .active {
    border-bottom: 0.2em solid #FA5959; 
    color: rgb(94, 93, 93);
    padding-bottom: 1.2em;
  }
}



.flex-md-row {
  li {
    padding: 1.5em 0;
  }
}


.cards{
  .card {
    width: 20rem;
    border-radius: 1rem;
    border-color: transparent;

    img {
      width: 8rem;
    }

    .linea-punteada {
      width: 21rem;
    }

    a {
      width: 80%;
      color: white;
      background-color: $primary;
      &:hover {
        color: $primary;
        background-color: white;
        border: solid 1px $primary;
      }
    }
  }

  div:nth-child(1) {
    margin-bottom: 4rem;
  }

  div:nth-child(2){
    margin-top: 2rem;;
    margin-bottom: 2rem;
  }
  div:nth-child(3){
    margin-top: 4rem;;
  }
}

.accordion-faq {
  a {
    text-decoration: none;
  }
}

.accordion-button {
  font-size: 1.25rem;
}

.accordion-body > p {
  font-size: 1rem;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.accordion-button.collapsed::after {
  background-image: url(/img/icon-arrow.svg);
  color: $primary;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/img/icon-arrow.svg);
  filter: invert(56%) sepia(15%) saturate(7470%) hue-rotate(323deg) brightness(95%) contrast(107%);
}

.accordion-button:focus {
  box-shadow: unset;
}

.accordion-button:hover {
  color: $secondary;
}

.more-info {
  width: 10rem;
}

.contacto {
  p {
    letter-spacing: 0.75rem;
  }

  .btn {
    color: white;
    background-color: $secondary;
    &:hover {
      color: $secondary;
      background-color: white;
      border: solid 1px $secondary;
    }
  }

  // .form-control {
  //   display: inline-block;
  //   position: relative;
  // }
}

.invalid-feedback {
  background-color:$secondary;
  color: white;
}

footer {
  margin-top: 8rem;
}

.formulario-contacto {
  display: inline-block;
  position: relative;
}

.footer {
  .navbar-brand {
    width: 10em;
  }

  background-color: #282c44;
  font-size: 1rem;

  .navbar-social > a {
    padding: 0.5rem;
    &:hover {
      filter: invert(56%) sepia(15%) saturate(7470%) hue-rotate(323deg) brightness(95%) contrast(107%);
    }
  }

  .nabvar-footer {
    a {
        color: white;
        &:hover {
          color: $secondary;
        }
    }
  }
}

.row {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .bloque-derecha {
    height: 33%;
    margin-top: -12rem;
  }

  .bloque-izquierda {
    height: 29%;
    margin-top: -9rem;
  }
} 

@media only screen and (max-width: 576px) {
  .content-tab-features > .nav-tabs > li:first-child {
    border-top:  0.1em solid rgb(155, 155, 155); 
  }

  .bloque-derecha {
    height: 85%;
    margin-top: -12rem;
  }

  .bloque-izquierda {
    height: 85%;
    width: 75%;
    margin-top: -9rem;
  }
} 